

body {
    background-color: lightblue;
}                   
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}

    
/* Nuevo comentario en CSS */   

/* Otro comentario agregado */      
/* Cambios realizados en style.css */       
/* Fin de los cambios en style.css */   
